*{
    box-sizing: border-box;
}

html{
    font-family: fantasy
}

form{
    padding-bottom: 100px;
}

#welcome{
border: 1px solid black;
width: 500px;
display: block;
margin-left: auto;
margin-right: auto; 
text-align: center;
}


#main-stage{
    display: none;
}

.codex{
    width: fit-content;
    border: 1px solid black;
}

#return-to-welcome{
    float: right;
}

#error-message{
  color: red
}

li{
  list-style: none
}


@media only screen and (min-width: 768px){
}