* {
  box-sizing: border-box;
}

html {
  font-family: fantasy;
  background: rgba(0, 0, 0, 0) url("images/library.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab_search {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tab_search {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

form {
  padding-bottom: 100px;
  display: block
}

#search-banner {
  margin-top: 50px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center
}

label {
  color: white;
  display: block;
  margin: 10px auto;
  background-color: black;
  width: 100px
}

#welcome {
  border: 1px solid black;
  width: 400px;
  height: 300px;
  display: block;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
  text-align: center;
  background: rgba(0, 0, 0, 0) url("images/magic-book.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  background-color: black;
}

#main-stage {
  display: none;
}

#search-menu {
  display: none;
}

.codex {
  width: 70%;
  background: rgba(0, 0, 0, 0) url("images/parchment.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px
}

footer {
  display: none;
  position: fixed;
  bottom: 0
}

#return-to-welcome {
  float: right;
}

#error-message {
  color: red;
  background-color: black;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* padding: 10px */
}

li {
  list-style: none
}

@media only screen and (min-width: 768px) {
  #welcome {
    width: 600px;
    height: 600px;
  }
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}